Flask==3.0.0
Flask-Login==0.6.3
Pillow==10.0.1
numpy==1.26.0
opencv-python==4.8.1.78
pandas==2.1.1
SQLAlchemy==2.0.21
# werkzeug==2.2.3
pyopenssl==23.2.0
pyzbar~=0.1.9
openpyxl
pydrive
gspread~=5.12.1
gspread-dataframe
oauth2client~=4.1.3
google-api-python-client~=2.108.0