<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/on_leave/qr-scan.css') }}">
    <title>Quét mã QR CODE</title>
</head>
<body>
<div class="container">
    <div class="camera-container">
    <div id="status" class="confirmation-text"></div>
    <video id="video" autoplay playsinline muted></video>
    <br>
    <button class="button" onclick="toggleCamera()">Đổi camera</button>

</div>

<script src="{{ url_for('static', filename='js/on_leave/detail-scan.js') }}"></script>
</body>
</html>