<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/on_leave/infomation.css') }}">
    <title>Success Page</title>
</head>
<body>
    <div class="success-container">
        <div class="success-header">Thông tin nghỉ phép</div>
        <form>
            <div id="infomationContainer">
                <div class="row">
                    <label>Bộ phận:</label>
                    <input value="{{ bophan }}"  readonly="readonly" required>
                    <br>
                </div>
                
                <div class="row">
                    <label>Nhân viên:</label>
                    <select name="employee" id="employee">
                        {% for employee in employees %}
                            <option value={{ employee.MaNV}}>{{ employee.MaNV}} - {{ employee.HoTen}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="row">
                    <label>Từ:</label>
                    <input type="date" name="start">
                    <br>
                </div>

                <div class="row">
                    <label>Đến:</label>
                    <input type="date" name="end">
                    <br>
                </div>

                <button class="confirm-button" type="submit" name="button-yes" value="yes" id="button-yes">Tìm kiếm</button>
                
                <div class="table-container">
                    <h2>Thông tin nghỉ phép</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Giờ ra</th>
                                <th>Giờ vào</th>
                                <th>Giờ ra thực tế</th>
                                <th>Giờ vào thực tế</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/on_leave/infomation.js') }}"></script>

    
</body>
</html>