<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/system/directional.css') }}">
    <title>Directional</title>
</head>
<body>
    <div class="success-container">
        <div class="success-header">Xin chào , {{ name }}!</div>
        <form method="post">
            <!-- <a href="/user/qr-scan" class="back-button">Phòng cháy chữa cháy</a>  -->
            <a href="/guard/qr-scan?guard_type=on-leave" class="back-button">Quản lý nghỉ phép</a>
            <a href="/guard/qr-scan?guard_type=frequently" class="back-button">Quản lý ra vào</a>
            <a href="/guard/report" class="back-button">Báo cáo</a>
            
        </form>

    </div>
</body>
</html>