body {
  background-image: url('/static/img/login-bg.jpg');
  background-size: cover;
  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-image: url('/static/img/blurred-background.jpg');
  background-size: cover;
  padding: 20px;
  border: 3px solid #fff; /* Increase the border size */
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
}

.camera-container {
  text-align: center;
  margin-bottom: 20px;
}

.confirmation-text {
  text-align: center;
  margin-bottom: 5px;
  font-weight: bold;
  color: #FFFFFF;
  font-size: large;
}

#video {
  width: 100%;
  max-width: 400px;
  height: 75vw;
}

.button {
  background-color: #000080;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  text-align: center;
  width: 90%;
  font-weight: bold;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

.button:hover {
  background-color: #ff7f00;
}

.table-container {
  margin-top: 20px;
  font-size: small;
  text-align: center;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
  font-size: small;
}

.table-container th, .table-container td {
  border: 1px solid #000080;
  padding: 10px;
  text-align: left;
}

.table-container th {
  background-color: #000080;
  color: #fff;
  text-align: center;
}

@media (max-width: 600px) {
  .container {
    width: 95%;
    background-position: center; /* Add this line */
  }

  .table-container th, .table-container td {
    padding: 5px;
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}