<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
  <div class="login-container">
    <div class="login-header">Đăng nhập</div>
    {% if error %}
      <div class="error-message">Tên tài khoản hoặc mật khẩu không đúng</div>
    {% endif %}
    <form method="POST">
      <input type="text" class="form-input" name="username" placeholder="Tên người dùng" required><br>
      <input type="password" class="form-input" name="password" placeholder="Mật khẩu" required><br>
      <input type="submit" class="login-button" value="Login">
    </form>
  </div>
</body>
</html>