<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/qr-scan.css') }}">
    <title>Quét mã QR CODE</title>
</head>
<body>
    <div class="camera-container">
        <div class="camera-header">Quét mã QR CODE</div>
        <video id="video" autoplay playsinline muted></video>
        <br>
        <button id="captureButton" class="capture-button" onclick="capturePhoto()">Chụp ảnh</button>
        <button class="switch-camera-button" onclick="toggleCamera()">Đổi camera</button>
    </div>

    <script src="{{ url_for('static', filename='js/qr-scan.js') }}"></script>
</body>
</html>