body {
  background-image: url('/static/img/login-bg.jpg');
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 128); /* RGB equivalent of #000080 */
}

.login-container {
  background-image: url('/static/img/blurred-background.jpg');
  background-size: cover;
  padding: 20px;
  border: 3px solid #fff; /* Increase the border size */
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
}

.header-container {
  display: flex;
  flex-direction: column; /* Change the direction from row to column */
  align-items: center;
  margin-bottom: 20px;
  color: rgb(0, 0, 128); /* RGB equivalent of #000080 */
  font-size: normal;
}

.header-container .logo {
  width: 100px;
  height: 70px;
}

.header-container .login-header {
  margin-top: 20px; /* Add margin-top instead of margin-left */
  font-size: normal;
}

.form-input {
  width: 90%; /* Reduce the width */
  padding: 10px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 2px solid #fff;
  background: transparent;
  outline: none;
  color: rgb(0, 0, 128); /* RGB equivalent of #000080 */
  font-weight: bold; /* Make the text bold */
  font-size: larger; /* Increase the font size */
  font-family: Arial, Helvetica, sans-serif;
}

.login-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff; /* Keep the text color of the login button white */
  background: #000080;
  cursor: pointer;
  font-weight: bold; /* Make the text bold */
  font-size: larger; /* Increase the font size */
  font-family: Arial, Helvetica, sans-serif;
}

.login-button:hover {
  background-color: #ff7f00; /* Change the background color to orange when hovered */
}

.error-message {
  color: #ff0000;
  margin-bottom: 10px;
}

  /* Chrome, Edge, Safari */
::placeholder {
  color: #000080;
  opacity: 0.5; /* Firefox needs this */
}

/* Firefox */
::-moz-placeholder {
  color: #000080;
  opacity: 0.5;
}

@media (max-width: 600px) {
  .login-container {
    width: 75%;
    height: auto; /* Change the height to auto on mobile devices */
    background-position: center; /* Add this line */
  }

  .login-header {
    text-align: center; /* Center the text */
    white-space: pre-line; /* Allow line breaks */
  }
}